@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

*{
  font-family: "Overpass Mono";
  box-sizing: border-box;
}
body{
  margin: 0;
}
/* NAVBAR STYLING */
.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 70px;
  box-shadow: 0 2px 10px #00000026;
}
.logo{
  text-decoration: none;
  color: black;
}
.navbar-container h1{
  margin: 0;
}
.navbar-items ul{
  display: flex;
  gap: 10px;
}
ul a{
  text-decoration: none;
  color: black;
}
ul .item{
  list-style: none;
}
.cursor{
  cursor: pointer;
}
.highlight{
  border-bottom: 3px solid blue;
}
/* .account-dropdown-container{
  position: absolute;
  right: 22px;
} */
.account-dropdown-container{
  position: absolute;
  z-index: 1000;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  font-size: 0.96rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  right: 15px;
}
.documents-dropdown-wrapper{
  position: relative;
}
.documents-dropdown-container{
  position: absolute;
  z-index: 1;
  padding: .5rem 0;
  margin: 0;
  font-size: 0.96rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  max-height: 96px; 
  overflow-y: auto;
  width: 150px;
  right: -18px;
  overflow-x: hidden;
}
.dropdown-item{
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  /* text-align: inherit; */
  text-decoration: none;
  white-space: nowrap;
  /* background-color: transparent; */
  border: 0;
  cursor: pointer;
}
/* .dropdown-item{
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid lightgray;
  background: #fbfbf4;
  cursor: pointer;
  text-align: center;
} */
.full-width-item{
  display: block;
  width: 100%;
  padding: 0.5rem;
}
/* .dropdown-item:first-child{
  border-bottom: none;
} */
.dropdown-item:hover{
  /* background: #f7f7e3; */
  background: rgb(229,233,236);
}
/* HOMEPAGE */
/* HERO CONTAINER */
.hero-container{
  display: flex;
  height: 400px;
}
.hero-container div{
  padding: 0 15px;
  border-top: none;
}
.pomodoro{
  width: 50%;
  display: flex;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.to-do-list{
  width: 50%;
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.interactive{
  display: flex;
  height: 350px;
  align-items: center;
  padding: 15px;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
}
/* SEARCH INPUT */
.search-container{
  display: flex;
  /* gap: 1rem; */
  margin: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 2rem;
}
.filter-inputs{
  display: flex;
  gap: 1rem;
  /* margin: 1rem; */
  justify-content: center;
}
.btn{
  padding: 0.5rem;
  outline: none;
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
}
.btn:hover{
  border: 1px solid gray;
}
.add-button-container{
  display: flex;
  gap: 1rem;
}
.add-btn{
  background: rgba(60, 178, 40, 0.7);
  padding: 0.64rem
}
.document-btn{
  background-color: rgba(103, 188, 240, 0.7);
  padding: 0.64rem;
}
.small-add-btn{
  background: rgba(60, 178, 40, 0.7);
}
.small-document-btn{
  background-color: rgba(103, 188, 240, 0.7);
}
/* .applied-btn{
  background-color: green;
} */
.delete-btn{
  background-color: red;
  color: white;
}
.input{
  background-color: lightgrey;
  border: none;
  outline: none;
  width: 9rem;
  transition: width 0.25s;
  /* border-radius: .25em; */
  border-radius: 0.4rem;
  padding: 0.643rem;
  padding-inline-end: calc(0.375rem + 1rem);
  font-size: 0.875em;
  box-shadow: inset 0 0 0 1px #928b80;
}
@media(prefers-reduced-motion: reduce){
  .input{
    transition: none;
  }
}
.input:focus-visible, button:focus-visible{
  box-shadow: 0 0 0 .15rem blue;
}
.input:focus, .input:not(:placeholder-shown){
  width: 15em;
}
.search-wrapper{
  position: relative;
}
.search-icon, button.x-icon{
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.25rem;
  top: 50%;
  translate: 0 -50%;
  opacity: 0;
  rotate: 90deg;
  pointer-events: none;
  visibility: hidden;
  border-radius: 0.25rem;
  transition-behavior: discrete;
  transition-property: opacity, rotate, visibility;
  transition-duration: 0.25s;
}

.search-wrapper:has(.input:placeholder-shown) .search-icon,
.search-wrapper:has(.input:not(:placeholder-shown)) .x-icon{
  opacity: 1;
  pointer-events: all;
  rotate: 0deg;
  visibility: visible;
}
.x-icon{
  all: unset;
  cursor: pointer;
}

/* SELECT INPUT */
.label-wrapper{
  background-color: lightgray;
  z-index: 0;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.4rem;
}
.label-wrapper label{
  width: 12rem;
}
select{
  cursor: pointer;
  width: inherit;
  padding: 0.7rem 0.6rem .6rem 5.5rem;
  border: none;
  border-radius: .4rem;
  box-shadow: inset 0 0 0 1px #928b80;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  vertical-align: middle;
  height: 2.4rem;
}
select:focus-visible{
  box-shadow: 0 0 0 .15rem blue;
}

.label-wrapper label::before{
  content: "Sort by:";
    font-weight: 500;
    letter-spacing: -.08px;
    line-height: 22px;
    line-height: 1.7;
    padding: .4rem 0.6rem;
    position: absolute;
    z-index: -1;
}
/* COMPANY GRID LAYOUT */
.companies-container{
  width: 92%;
  margin: 0 auto;
}
.companies-container ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  /* grid-template-columns: repeat(auto-fill, 14rem); */
  grid-template-rows: repeat(auto-fill, 6rem);
  gap: 1rem;
  list-style-type: none;
  /* justify-items: center; */
  justify-content: center;
  padding: 0;
}
/* @media screen and (max-width: 765px) {
  .companies-container ul{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .companies-container ul li{
    width: 100%;
  }
} */
.companies-container ul li{
  height: 6rem;
  /* width: 14rem; */
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: .6rem;
  display: flex;
  cursor: pointer;
  /* NEW */
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  transition: 0.1s ease-in-out;
  position: relative;
}
.companies-container ul li:hover, .contacts-container ul li:hover{
  transform: scale(102%);
  box-shadow: 0 0 0 .1rem blue;
  border: none;
}
.companies-container ul li:hover .hidden-icons, .contacts-container ul li:hover .hidden-icons{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.card.applied{
  border: 1px solid green;
  /* background: lightgreen; */
  background: rgba(60, 178, 40, 0.57);
}
.card{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.company-title-container{
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  gap: 0.1rem;
  padding-left: 0.2rem;
}
.company-title-container > h4, .company-title-container > p{
margin: 0;
}
.company-title-container p{
  font-size: 0.85rem;
}
.icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding-right: 0.2rem;
}
.hidden-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.icon-border{
  border: 1px solid lightgray;
  padding: 0.1rem;
  border-radius: 0.3rem;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.icon-border:hover{
  border: 1px solid gray;
}
/* COMPANY FORM DIALOG */
.form-dialog{
  /* min-width: 26rem; */
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  padding: 0;
  width: 26rem;
  max-height: 45rem;
}
.form-wrapper{
  padding: 40px 40px 30px 40px;
  position: relative;
}
.form-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}
.form-top{
  display: flex;
  justify-content: space-between;
}
.form-input-data-half-width{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 47%;
}
.form-input-data-half-width input, .form-input-data-full-width input,.form-input-data-full-width textarea{
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid black;
}
.form-input-data-full-width{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  /* width: 50%; */
}
.phone-label{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.phone-label p{
  margin: 0;
  font-size: 0.7rem;
  color: gray;
}
.chat-width{
  width: 47%;
}
.radio-btns{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.radio-btns-input{
  display: flex;
  align-items: center;
}
.radio-btns-documents{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.radio-btns-documents>*,.radio-btns-input>*{
  display: flex;
  align-items: flex-start;
}
.yes-radio-input{
  padding-right: 0.3rem;
}
.form-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
}
.contact-form-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
  position: sticky;
  bottom: -1px;
  /* border-top: 1px solid gray; */
  background-color: white;
  padding: 20px;
  box-shadow: 0 -4px 10px #00000026;
}
/* COMPANY DETAILS DIALOG */
.company-details-dialog{
  min-width: 31rem;
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  padding: 0;
}
.company-details-wrapper{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 40px 30px 40px;
}
/* .company-details-wrapper .details-toggles:nth-child(3):hover{

} */
.details-container{
  display: flex;
  justify-content: space-between;
}
.details-content > *{
margin: 0;
}
.email{
  cursor: pointer;
}
.email p:hover{
  text-decoration: underline;
}
.contact-info.email:hover .email-hover{
opacity: 1;
visibility: visible;
}
.email-hover{
  position: absolute;
  top: -30px;
  right: 67px;
  background-color: lightgray;
  padding: 0.4rem;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-in-out;
}
.details-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.job-description{
  max-width: 21rem;
  min-width: 10rem;
}
.details-toggles{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  align-items: flex-end;
}
.details-toggles>*{
  cursor: pointer;
  text-decoration: none;
}
.details-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
}
/* CONFIRM DIALOG */
.confirm-dialog{
  /* min-width: 17rem; */
  text-align: center;
  border-radius: 0.4rem;
  padding: 0;
  border: 1px solid lightgray;
  min-width: 20rem;
  height: 11rem;
}
.confirm-title{
  margin: 0;
  /* padding: 1rem 0; */
  padding: 0.6rem 0;
  border-bottom: 1px solid lightgray;
}
.confirm-p{
  /* border-top: 1px solid lightgray; */
  /* padding: 20px; */
  padding: 0.6rem;
}
.confirm-buttons-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  /* padding: 20px 0; */
  padding: 0.7rem 0;
  border-top: 1px solid lightgray;
}
/* CONTACTS PAGE */
.contacts-container ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
  /* grid-template-columns: repeat(auto-fill, 15.5rem); */
  grid-template-rows: repeat(auto-fill, 9.5rem);
  gap: 1rem;
  list-style-type: none;
  /* justify-items: center; */
  justify-content: center;
  padding: 0;
  }
.contacts-container ul li{
  height: 10.3rem;
  /* width: 15.5rem; */
  width: 100%;
  display: flex;
  /* align-items: center; */
  border: 1px solid gray;
  border-radius: .6rem;
  cursor: pointer;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0.7rem;
  transition: 0.1s ease-in-out;
  position: relative;
  }
  .contact-top-half{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    /* padding: 0.5rem; */
  }
.contact-title{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 0.2rem;
  }
.contact-title{
  padding-bottom: 0.5rem;
}
.contact-title>*{
    margin: 0;
  }
.contact-title p{
    font-size: 0.85rem;
  }
.contact-info-wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 0.85rem;
}
.contact-info-container{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 0.2rem;
  }
.contact-info-container .contact-info{
  font-size: 0.85rem;
}
.contact-info{
  display: flex;
  gap: 0.2rem;
  align-items: center;
  text-decoration: none;
  color: black;
  width: fit-content;
  position: relative;
  }
.contact-info p{
    margin: 0;
  }
.contacts-container{
    width: 90%;
    margin: 0 auto;
  }
  /* CONTACT DETAILS DIALOG */
.contact-details-dialog{
    border-radius: 0.4rem;
    border: 1px solid lightgray;
    padding: 0;
    min-width: 23rem;
  }
  .details-content .contact-info:first-child{
    padding-top: 1rem;
  }
  .details-content a p:hover{
    text-decoration: underline;
  }
  .pad-top1{
    padding-top: 1rem;
  }
  .pad4{
    padding-left: 0.4rem;
  }
  .details-job-title{
    font-size: 1.2rem;
  }
  .details-company{
    font-size: 1.1rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
  }
.contact-details-wrapper{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 40px 30px 40px;
  }
.contact-info>*, .notes-content>*{
  margin: 0;  
}
.notes-content{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.notes-content p:last-child{
  max-width: 23rem;
}
.email-copied{
  position: absolute;
  top: -30px;
  right: 52px;
  background-color: lightgray;
  padding: 0.4rem;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-in-out;
}
.email-clicked{
  position: absolute;
  top: -30px;
  right: 52px;
  background-color: lightgray;
  padding: 0.4rem;
  border-radius: 0.2rem;
  visibility: visible;
  opacity: 1;
  pointer-events: none;
  transition: 0.1s ease-in-out;
  z-index: 2;
}
/* NOTIFICATION DIALOG */
.notification-dialog{
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  padding: 0;
}
.notification-dialog-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px 40px 30px 40px;
}
/* PROFILE PAGE */
.profile-header-container{
  display: flex;
  margin: 0 auto;
  width: 84%;
  padding: 2rem;
}
.documents-container{
  width: 90%;
  margin: 0 auto;
}
.documents-container ul{
  padding: 0;
  margin: 0;
}
.document-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.document-title-container h3{
  margin: 0;
}
.li-item{
  list-style-type: none;
}
.document-url{
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  table-layout: fixed;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  word-wrap: break-word; 
}
td a {
  word-wrap: break-word; 
  display: block; 
}
th button.btn{
  /* padding: 0; */
  background-color: red;
  color: white;
}
/* LANDING PAGE */
.landing-page-container{
  background-image: url('public/colors.jpg');
  /* background-image: url('public/arrange.jpg'); */
  height: 100dvh;
    /* object-fit: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* color: white; */
}
.landing-page-header-container h1{
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 5rem 0;
}
.landing-page-content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.landing-page-text{
  width: 50%;
}
.landing-page-medium-text{
  font-size: 1.5rem;
}
.landing-page-text:nth-child(1){
  font-size: 1.2rem;
}
.landing-page-btns{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.landing-btns{
  padding: 0.5rem;
  outline: none;
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
  width: 12rem;
}